:root {
  --background_1: white;
  --text: black;
  --cta: #f56e47;
  --cta_hover: rgba(223, 59, 12, 0.85);
  --error: rgba(255, 0, 0, 0.8);
  --error_bg: rgba(255, 0, 0, 0.05);
  --success: rgb(4, 180, 92);
  --success_BG: rgba(0, 255, 0, 0.12);
  --border: rgb(95, 95, 95);
  --text_grey: grey;
  --text_soft: white;
  --menu_bg_hover: rgba(70, 55, 0, 0.05);
}

/* Inscription */
#div_champs_inscription {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 470px;
  background: rgba(255, 255, 255, 0.5);
  padding: 40px 60px;
  border-radius: 16px;
}

#div_consigne {
  margin-top: 0px;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}

#button_create_account {
  display: flex;
  justify-content: space-around;
}

/* Connexion */
#conteneur_connection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-left: 300px;
  width: 1000px;
  background: rgba(255, 255, 255, 0.5);
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 16px;
}

.main {
  width: 600px;
}

#conteneur_button {
  display: flex;
  justify-content: space-between;
}

.sidenav {
  width: 300px;
}

.login-main-text a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  font-weight: bold;
}

#error_notif {
  margin-left: 500px;
  margin-top: 50px;
  width: 400px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

/* Dashboard */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", "Fira Sans",
    Arial, Helvetica, sans-serif;
  font-weight: 200;
  background-color: var(--background_1);
  color: var(--text);
}

select {
  font-size: 100%;
  background-color: var(--background_1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", "Fira Sans",
    Arial, Helvetica, sans-serif;
  font-weight: 200;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 40px 5px 10px;
  border-color: var(--border);
  border-width: 1px;
  border-radius: 5px;
}

select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) calc(0.9em),
    calc(100% - 9.5px) calc(0.9em), calc(100% - 27px) 0.5em;
  background-size: 5.5px 5.5px, 5.5px 5.5px, 1px 1.15em;
  background-repeat: no-repeat;
}

#container {
  display: flex;
  margin-left: -15px;
}

.container {
  height: 100vh; /*Attention bandeau supérieur*/
}

.container:nth-child(1) {
  width: 35%;
  border-right: solid;
  border-right-width: 1px;
  border-right-color: var(--border);
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-right: 0;
}

/*      Partie Gauche       */
#manageProjet {
  display: none;
  flex: 1;
  flex-direction: column;
}

#search_input {
  margin: 25px 0 1em 25px;
  width: 70%;
  border: solid;
  border-width: 1px;
  border-color: var(--border);
  padding: 5px;
  padding-left: 15px;
  font-size: 110%;
  border-radius: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", "Fira Sans",
    Arial, Helvetica, sans-serif;
  font-weight: 300;
}

#containerLineProjet {
  overflow: auto;
  max-height: 68vh;
}

.flex1 {
  flex: 1;
}

.lineProjet {
  display: flex;
  padding: 0em 25px 0;
}

.iconProjet {
  font-size: 140%;
  color: var(--border);
  margin-right: 10px;
}

.textLineProjet {
  display: flex;
  flex: 1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.lineProjet:hover {
  background-color: var(--menu_bg_hover);
  cursor: pointer;
}

.propositionNomProjet {
  flex: 1;
  font-size: 120%;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.actionProjet {
  position: relative;
  top: 0.5em;
  height: 35px;
}

.createProjet {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#arboBDD {
  flex: 1;
  overflow: auto;
  padding-top: 10px;
  margin-bottom: 15px;
}

#infosProjet {
  flex: 1;
  display: none;
  padding-left: 15px;
  overflow: auto;
  margin-bottom: 15px;
}

#nomProjet {
  font-size: 160%;
  padding: 10px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--border);
  display: flex;
  font-weight: 300;
}

.nomProjet:nth-child(1) {
  flex: 1;
}

.nomProjet:nth-child(2) {
  color: var(--border);
  font-size: 90%;
  position: relative;
  right: 5px;
  top: 5px;
}

.nomProjet:nth-child(2):hover {
  cursor: pointer;
}

#menu {
  display: flex;
  padding: 5px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--border);
  font-size: 110%;
}

.menu {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.menu:nth-child(2) {
  border-left: solid;
  border-left-width: 1px;
  border-left-color: var(--border);
  color: var(--text_grey);
}

.menu:hover {
  cursor: pointer;
  color: var(--text);
}

.infoProjet {
  margin-top: 0.75em;
}

.titleInfo {
  font-size: 120%;
  font-weight: 300;
}

.valueInfo {
  margin-top: 0.25em;
}

.radioOption {
  margin-left: 20px;
}

.infoField {
  display: flex;
  margin-top: 1em;
  font-size: 90%;
}

.infoProjet > input[type="text"] {
  border: solid;
  border-width: 1px;
  border-color: var(--border);
  padding: 5px;
  font-size: 95%;
  border-radius: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", "Fira Sans",
    Arial, Helvetica, sans-serif;
  font-weight: 300;
  position: relative;
  top: -4px;
  left: 20px;
}

.infoProjet > select {
  width: 40%;
  margin-left: 20px;
  position: relative;
  top: -4px;
  left: 20px;
}

.menuGestion {
  display: flex;
  justify-content: space-around;
}

.importButton,
.exportButton {
  background-color: var(--cta);
  color: var(--text_soft);
  padding: 8px;
  width: 45%;
  text-align: center;
  border-radius: 3px;
  font-size: 105%;
}

.importButton:hover,
.exportButton:hover {
  background-color: var(--cta_hover);
  cursor: pointer;
}

.importButton {
  margin-left: 5%;
  margin-right: 2.5%;
}

.exportButton {
  margin-right: 5%;
  margin-left: 2.5%;
}

.filtre {
  margin-left: 15px;
  width: 60%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.lineBDD {
  display: flex;
  padding: 5px;
  font-size: 110%;
}

.lineBDD:hover {
  cursor: pointer;
  background-color: var(--menu_bg_hover);
}

.iconBDD {
  width: 30px;
  text-align: center;
  color: var(--border);
}

.lineCategorie {
  margin-left: 15px;
  display: none;
}

.lineFamille {
  margin-left: 30px;
  display: none;
}

.lineSousFamille {
  margin-left: 45px;
  display: none;
}

.lineDescriptif {
  margin-left: 60px;
  display: none;
}

.selectDescriptif {
  background-color: var(--menu_bg_hover);
}

.lineSousCatConstruction,
.lineCaractDim {
  display: none;
}

/*          Partie droite              */
.container:nth-child(2) {
  width: 65%;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;
}

#titreLot {
  text-align: center;
  font-size: 160%;
  padding: 10px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--border);
  font-weight: 300;
}

.lot {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-control {
  color: var(--text);
  border: none;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.input-group {
  width: 80%;
}

.input-group-text {
  background-color: var(--background_1);
  border: none;
  padding-left: 0;
}

.ligneChiffrage{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 0.75em;
}

.ligneChiffrage > input{
    border: solid;
    border-width: 1px;
    border-color: var(--border);
    border-radius: 5px;
    display: block;
    width: 35%;
    padding-left: 15px;
}

.titre1 {
  margin-left: 15px;
}

.titre2 {
  margin-left: 30px;
}

.titre3 {
  margin-left: 45px;
}

.titre4 {
  margin-left: 60px;
}

.titre5 {
  margin-left: 75px;
}

#ongletsLot {
  overflow: auto;
  white-space: nowrap;
  max-width: 90%;
  margin: auto;
}

.ongletLot {
  display: inline-block;
  height: 20px;
  width: 50px;
  border-color: var(--cta);
  background-color: var(--cta);
  text-align: center;
  color: var(--text_soft);
  border-radius: 2px;
  font-size: 100%;
}

.ongletLot:hover {
  background-color: var(--cta_hover);
  border-color: var(--cta_hover);
  cursor: pointer;
}

.ongletLot:active {
  background-color: var(--cta_hover);
  border-color: var(--cta_hover);
}

.barreInsertion {
  width: 500px;
  margin-left: 15px;
  height: 30px;
  display: flex;
  flex-direction: column;
}

.panBarreInsertion{
    flex: 1;
}

.barreInsertion:hover {
  /*border-top: solid;
  border-width: 1px;
  border-color: var(--border);*/
  cursor: pointer;
}

.divInsertionTitre {
  width: 400px;
  height: 50px;
  border-radius: 3px;
  background: grey;
  color: var(--text_soft);
  display: flex;
  flex-direction: column;
}

.sousDivInsertionTitre {
  padding-left: 15px;
  cursor: pointer;
}

.sousDivInsertionTitre:hover {
  background-color: whitesmoke;
  color: grey;
}

textarea {
  resize: none;
}
