:root {
  --background_1: white;
  --text: black;
  --cta: #f56e47;
  --cta_hover: rgba(223, 59, 12, 0.85);
  --error: rgba(255, 0, 0, 0.8);
  --error_bg: rgba(255, 0, 0, 0.05);
  --success: rgb(4, 180, 92);
  --success_BG: rgba(0, 255, 0, 0.12);
}

/* Inscription */
#div_champs_inscription {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 470px;
  background: rgba(255, 255, 255, 0.5);
  padding: 40px 60px;
  border-radius: 16px;
}

#div_consigne {
  margin-top: 0px;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}

#button_create_account {
  display: flex;
  justify-content: space-around;
}

/* Connexion */
#conteneur_connection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-left: 300px;
  width: 1000px;
  background: rgba(255, 255, 255, 0.5);
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 16px;
}

.main {
  width: 600px;
}

#conteneur_button {
  display: flex;
  justify-content: space-between;
}

.sidenav {
  width: 300px;
}

.login-main-text a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  font-weight: bold;
}

#error_notif {
  margin-left: 500px;
  margin-top: 50px;
  width: 400px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

/* Dashboard */
body {
  font-family: system-ui;
  font-weight: 200;
  background-color: var(--background_1);
  color: var(--text);
}

#container {
  display: flex;
}

.container {
  height: 98vh; /*Attention bandeau supérieur*/
}

.container:nth-child(1) {
  width: 40%;
}
.container:nth-child(2) {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#titreLot {
  text-align: center;
  border-bottom: 1px solid;
  border-bottom-color: black;
}

.lotCourant {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.input-group {
  width: 80%;
}

.titre1 {
  margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.titre2 {
  margin-left: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.titre3 {
  margin-left: 45px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.titre4 {
  margin-left: 60px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.titre5 {
  margin-left: 75px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.descriptif {
  margin-top: 8px;
  margin-bottom: 8px;
}

#ongletsLot {
  display: flex;
}

#ongletLot {
  flex: 1;
  text-align: center;
  border: 1px solid;
  cursor: pointer;
}
