/*******		Global 		******/
:root {
  --background_1: #292929;
  --header_bg: rgb(10,10,10);
  --background_2: rgb(100,100,100);
  --text: rgba(255,255,255,0.95);
  --cta: #FF5A06;
  --cta_hover: #d24700;
}

body{
	color: var(--text);
	background-color: var(--background_1);
	font-family: system-ui;
	font-weight: lighter;
}

header{
	padding: 2em;
	background-color: var(--header_bg);
	display: flex;
	margin-bottom: 2em;
}

#container{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	display: flex;
}

#header_title{
	flex: 1;
	font-size: 150%;
	font-weight: bold;
}




/*******		Connexion	 		******/

#form_co{
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: auto;
}

.field{
	font-size: 150%;
	background-color: var(--background_1);
	color: var(--text);
	border: solid;
	border-color: var(--text);
	padding: 10px;
	border-width: 1px;
	border-radius: 5px;
	margin: 0.25em 0 0.25em 0;
}

#button_log{
	font-size: 150%;
	background-color: var(--cta);
	border: none;
	color: var(--text);
	padding: 10px;
	border-radius: 5px;
	width: 60%;
	margin: auto;
	margin-top: 1em;
	text-align: center;
	font-weight: normal;
}

#button_log:hover{
	cursor: pointer;
	background-color: var(--cta_hover);
}

#user_img{
	font-size: 600%;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: var(--background_2);
	text-align: center;
}

.user_img{
	position: relative;
	top: 0.4em;
}

#other_img{
	width: 100%;
	display: flex;
	height: 80px;
	overflow-y: auto;
}

.other_img{
	width: 23%;
	margin: 1%;
	opacity: 0.6;
}

.other_img:hover{
	opacity: 1;
	cursor: pointer;
}

.other_img:nth-child(1){
	margin-left: 0;
	width: 24%;
}

.other_img:nth-child(4){
	margin-right: 0;
	width: 24%;
}

.password_forgot{
	text-align: right;
	color: var(--cta);
	margin: 0.25em 0 0.5em;
}

.password_forgot:hover{
	cursor: pointer;
	text-decoration: underline;
}






























